<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/styles/css/dashboard.css">
</head>
<body>
    <nav>
        <div id="avatar">🏠</div>
        <ul>
            <li><button id='logout'>Wyloguj</button></li>
        </ul>
    </nav>
    <aside>
        <ul>
            <li><a href="">Recepty</a></li>
        </ul>
    </aside>
    <div id="content">
        <h1 id="pharmacyName"></h1>
        <div class="contentItem" data-id="recepty">
            <div id="search">
                <input type="text" name="" id="">
                <button>Szukaj</button>
            </div>
            <table>
                <thead>
                  <tr>
                    <th>NAZWU</th>
                    <th>TOWRNAZWU</th>
                    <th>NRKLN</th>
                    <th>POZRP</th>
                    <th>NRORC</th>
                    <th>KODR1</th>
                    <th>KODR2</th>
                    <th>KODR3</th>
                    <th>KODR4</th>
                    <th>DGAKT</th>
                  </tr>
                </thead>
                <tbody>
                 
                </tbody>
             
             </table>
             
        </div>
    </div>
    <% include ../partials/commonScripts %>
    <script src="/js/dashboard.js"></script>
</body>
</html>