<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/styles/css/dashboard.css">
</head>
<body>
    <nav>
        <div id="avatar">PZ</div>
        <ul>
            <li><button id='logout'>Wyloguj</button></li>
        </ul>
    </nav>
    <aside>
        <ul>
            <li>Recepty</li>
            <li>Zakupy</li>
        </ul>
    </aside>
    <% include ../partials/scripts %>
    <script src="/js/dashboard.js"></script>
</body>
</html>